/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #007bff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.pointer {
    cursor: pointer;
}
  
.sidebar-item {
    cursor: pointer;
}

.sidebar-item:hover {
    background: #e3e3e3;
}

.sidebar-item.active {
    border-right: 4px solid #007bff;
}

.sidebar-subitem {
    cursor: pointer;
}

.sidebar-subitem.active {
    border-right: 4px solid #007bff;
}

.sidebar-subitem:hover {
    background: #e3e3e3;
}

.wrapper {
    margin-top: 10vh;
}

.sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 250px;
    height: 100%;
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 250px;
    height: 100%;
    max-height: 90vh;
}

.sidebar-wrapper.collapsed .page-content-wrapper {
    padding-left: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.content {
    max-height: 72vh;
    overflow-y: auto;
}

.page {
    height: 100vh;
}

.course-title-bubble {
    width: 24px;
    height: 24px;
    font-size: 14px;
}

.profile-menu {
    width: 120px;
    right: 56px;
}

.bg-blue {
    background-color: #0091ff !important;
}

.bg-darkblue {
    background-color: #006bcb !important;
}

.bg-purple {
    background-color: #ab68ca !important;
}